html{overflow-x: scroll;}
body{text-align: center; min-height: 1024px}

/*/////////////////////////////////////////////
-
+ SLIDES
-
*/

.slide{
margin: 0 auto;
height: 400px;
width: 900px;
position: relative;
text-align: left;
/*background: #00c0f3;*/
}

/*----------
-
+ SLIDE 1
-
*/

.slide:nth-child(1){
}

.slide:nth-child(1) .text{
width: 358px;
text-align: left;
/*background: #ededed;*/
}

.slide:nth-child(1) .illustration{
width: 690px;
position: absolute;
top: 0; 
left: 358px;
}

.slide:nth-child(1) .rotates:nth-child(1){
position: absolute;
left: -690px;
top: 0;
width: 920px;
text-align: right;
}

.slide:nth-child(1) .slides:nth-child(2){
position: absolute;
left: 230px;
top: 0;
}

.slide:nth-child(1) .rotates:nth-child(3){
position: absolute;
left: 460px;
top: 0;
width: 920px;
text-align: left;
}

/*----------
-
+ SLIDE 2
-
*/
.slide:nth-child(2){display: none}

.slide:nth-child(2) .text{
/*background: #ededed;*/
text-align: center;
margin-left: auto; 
margin-bottom: 50px; 
opacity: 0.0;
}

.slide:nth-child(2) .illustration{
position: relative;
top: -40px;
margin-left: -26px;
}

.slide:nth-child(2) .illustration img{
/*position: absolute;*/
}
/*.slide:nth-child(2) .illustration .panel:nth-child(1){left: 0; top: 0;}
.slide:nth-child(2) .illustration .panel:nth-child(2){left: 231px; top: 0;}
.slide:nth-child(2) .illustration .panel:nth-child(3){left: 462px; top: 0;}
.slide:nth-child(2) .illustration .panel:nth-child(4){left: 693px; top: 0;}
.slide:nth-child(2) .illustration .panel:nth-child(5){left: 0; top: 120px;}
.slide:nth-child(2) .illustration .panel:nth-child(6){left: 231px; top: 120px;}
.slide:nth-child(2) .illustration .panel:nth-child(7){left: 462px; top: 120px;}
.slide:nth-child(2) .illustration .panel:nth-child(8){left: 693px; top: 120px;}

.slide:nth-child(2) .illustration img:nth-child(1){left: -2000px; top: 0;}
.slide:nth-child(2) .illustration img:nth-child(2){left: -1769px; top: 0;}
.slide:nth-child(2) .illustration img:nth-child(3){left: -1538px; top: 0;}
.slide:nth-child(2) .illustration img:nth-child(4){left: -1307px; top: 0;}
.slide:nth-child(2) .illustration img:nth-child(5){left: 3000px; top: 120px;}
.slide:nth-child(2) .illustration img:nth-child(6){left: 3231px; top: 120px;}
.slide:nth-child(2) .illustration img:nth-child(7){left: 3462px; top: 120px;}
.slide:nth-child(2) .illustration img:nth-child(8){left: 3693px; top: 120px;}*/


.panel {
	float: left;
	width: 204px;
	height: 97px;
	margin-left: 26px;
	margin-bottom: 26px;
	position: relative;
	font-size: .8em;
	
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: inherit;
	height: inherit; 
	background: #00c0f3;/*url(../img/blue-diagonal-stripes.png);*/
	color: #01bbec;
	text-align: center;
	font-size: 3.6em;
	font-family: 'Futura Md BT';
	text-shadow: 0 -1px 1px #02a5d1, 0 1px 1px #5bd9fa;
	line-height: 97px;
	opacity: 0.0; 
	-webkit-opacity: 0.0; 
	
	-webkit-transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateY(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .9s ease-in-out;
	transition: all .4s ease-in-out;
}


.panel.flip .front {
	z-index: 900;

	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.panel .back {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
	background: #fff;
	width: inherit;
	height: inherit;
	opacity: 0.0; 
	-webkit-opacity: 0.0; 

	
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateY(-180deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .9s ease-in-out;
	transition: all .4s ease-in-out;
}

.panel.flip .back {
	z-index: 1000;
	
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
}

/* -- X axis rotation for click panel -- */
.rotator .front {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
}
.rotator.flip .front {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
}
.rotator .back {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
}
.rotator.flip .back {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
}

/******************************************
*
* GENERIC ANIMATIONS
*
*/
@-webkit-keyframes fade-in{
	from{
		-webkit-opacity: 0.0; 	
		opacity: 0.0; 
	}
	to{
		-webkit-opacity: 1.0; 		
		opacity: 1.0; 	
	}
}



/******************************************
*
* SLIDE 1 ANIMATIONS
*
*/

/* -- Texts -- */
@-webkit-keyframes slide1-out-text{
	from{}
	to{-webkit-transform: translate(2000px, 0); opacity: 0.0}
}

/* -- Phone on the left -- */
@-webkit-keyframes slide1-out-phone-left-p1{
	from{}
	to{-webkit-transform: rotate(90deg)}
}
@-webkit-keyframes slide1-out-phone-left-p2{
	from{-webkit-transform: rotate(90deg)}
	to{-webkit-transform: translate(-1000px,0px) rotate(90deg); opacity: 0.0}
}

/* -- Phone in the middle -- */
@-webkit-keyframes slide1-out-phone-middle-p1{
	from{}
	to{-webkit-transform: translate(0, 400px)}
}
@-webkit-keyframes slide1-out-phone-middle-p2{
	from{-webkit-transform: translate(0, 400px)}
	to{-webkit-transform: translate(0, 500px); opacity: 0.0}
}

/* -- Phone on the right -- */
@-webkit-keyframes slide1-out-phone-right-p1{
	from{}
	to{-webkit-transform: rotate(-90deg)}
}
@-webkit-keyframes slide1-out-phone-right-p2{
	from{-webkit-transform: rotate(-90deg)}
	to{-webkit-transform: translate(1000px,0px) rotate(-90deg); opacity: 0.0}
}

/******************************************
*
* SLIDE 2 ANIMATIONS
*
*/

/* -- Texts -- */
@-webkit-keyframes slide2-in-text{
	from{-webkit-transform: translate(0, -140px); opacity: 0.0; -webkit-opacity: 0.0; }
	to{-webkit-transform: translate(0, -40px); opacity: 1.0; -webkit-opacity: 1.0;}
}

/* -- Flip -- */
@-webkit-keyframes flip-horizontal-front{
	0%{
		-webkit-transform: rotateY(0deg);
		opacity: 1.0;
	}
	100%{		
		-webkit-transform: rotateY(-180deg);
		opacity: 1.0;		
	}
}
@-webkit-keyframes flip-horizontal-back{
	0%{
		z-index: 800;
		-webkit-transform: rotateY(180deg);		
		opacity: 1.0;		
	}
	100%{
		z-index: 1000;
		-webkit-transform: rotateY(0deg);
		opacity: 1.0;
	}
}
