


/******************************************
*
* GENERIC ANIMATIONS
*
*/
@-webkit-keyframes fade-in{
	from{
		-webkit-opacity: 0.0; 	
		opacity: 0.0; 		
	}
	to{
		-webkit-opacity: 1.0; 		
		opacity: 1.0; 	
	}
}
@-webkit-keyframes fade-out{
	from{
		-webkit-opacity: 1.0; 	
		opacity: 1.0; 		
	}
	to{
		-webkit-opacity: 0.0; 		
		opacity: 0.0; 	
	}
}
@-webkit-keyframes growByOne{
	from{		
	}
	to{
		-webkit-transform: scale(2.0); 	
	}
}
@-webkit-keyframes growByHalf{
	from{		
	}
	to{
		-webkit-transform: scale(1.5); 	
	}
}

/******************************************
*
* SLIDE 1 ANIMATIONS
*
*/

/* -- Texts -- */
@-webkit-keyframes slide1-out-text{
	0%{}
	90%{opacity: 0.0}
	100%{-webkit-transform: translate(1000px, 0); opacity: 0.0}
}

/* -- Phone on the left -- */
@-webkit-keyframes slide1-out-phone-left-p1{
	from{}
	to{-webkit-transform: rotate(90deg)}
}
@-webkit-keyframes slide1-out-phone-left-p2{
	from{-webkit-transform: rotate(90deg)}
	to{-webkit-transform: translate(-1000px,0px) rotate(90deg); opacity: 0.0}
}

/* -- Phone in the middle -- */
@-webkit-keyframes slide1-out-phone-middle-p1{
	from{}
	to{-webkit-transform: translate(0, 400px)}
}
@-webkit-keyframes slide1-out-phone-middle-p2{
	from{-webkit-transform: translate(0, 400px)}
	to{-webkit-transform: translate(0, 500px); opacity: 0.0}
}

/* -- Phone on the right -- */
@-webkit-keyframes slide1-out-phone-right-p1{
	from{}
	to{-webkit-transform: rotate(-90deg)}
}
@-webkit-keyframes slide1-out-phone-right-p2{
	from{-webkit-transform: rotate(-90deg)}
	to{-webkit-transform: translate(1000px,0px) rotate(-90deg); opacity: 0.0}
}

/******************************************
*
* SLIDE 2 ANIMATIONS
*
*/

/* -- Texts -- */
@-webkit-keyframes slide2-in-text{
	from{-webkit-transform: translate(0, -140px); opacity: 0.0; }
	to{-webkit-transform: translate(0, 0); opacity: 1.0; }
}
@-webkit-keyframes slide2-out-text{
	0%{-webkit-transform: translate(0, 0); opacity: 1.0;}
	100%{-webkit-transform: translate(0, 120px); opacity: 1.0; -webkit-opacity: 1.0;}	
}

/* -- Flip -- */
@-webkit-keyframes flip-horizontal-front{
	0%{
		-webkit-transform: rotateY(0deg);
		opacity: 1.0;
	}
	100%{		
		-webkit-transform: rotateY(-180deg);
		opacity: 1.0;		
	}
}
@-webkit-keyframes flip-horizontal-back{
	0%{
		z-index: 800;
		-webkit-transform: rotateY(180deg);		
		opacity: 1.0;		
	}
	100%{
		z-index: 1000;
		-webkit-transform: rotateY(0deg);
		opacity: 1.0;
	}
}
@-webkit-keyframes slide2-out-explode-ref-1{
	0%{}
	100%{
		-webkit-transform: translate(-100px, -50px);
	}
}
@-webkit-keyframes slide2-out-explode-ref-2{
	0%{}
	100%{
		-webkit-transform: translate(-50px, -100px);
	}
}
@-webkit-keyframes slide2-out-explode-ref-3{
	0%{}
	100%{
		-webkit-transform: translate(50px, -100px);
	}
}
@-webkit-keyframes slide2-out-explode-ref-4{
	0%{}
	100%{
		-webkit-transform: translate(100px, -50px);
	}
}
@-webkit-keyframes slide2-out-explode-ref-5{
	0%{}
	100%{
		-webkit-transform: translate(-100px, 50px);
	}
}
@-webkit-keyframes slide2-out-explode-ref-6{
	0%{}
	100%{
		-webkit-transform: translate(-50px, 100px);
	}
}
@-webkit-keyframes slide2-out-explode-ref-7{
	0%{}
	100%{
		-webkit-transform: translate(50px, 100px);
	}
}
@-webkit-keyframes slide2-out-explode-ref-8{
	0%{}
	100%{
		-webkit-transform: translate(100px, 50px);
	}
}

/******************************************
*
* SLIDE 2 ANIMATIONS
*
*/

@-webkit-keyframes rotate-CCW-0--180{
	0%{-webkit-transform: rotate(0deg)}
	100%{-webkit-transform: rotate(-180deg)}
}